<marquee behavior="alternate" class="blink">Browse our New Hyundai Cars With Good Price</marquee>
<br>
<div class="width-100 margin-top-50">
    <div class="container">
      <div class="width-25">
        <div class="product-section">
          <div class="product-border">
            <div class="product-img-center">
              <a href="#">
                <img class="product-img" src="../assets/images/Hyundai/HyundaiCreta.png">
              </a>
            </div>
            <div>
              <p class="product-name">
                <a href="#">Hyundai Creta</a>
              </p>
              <p class="product-price">
                <span class="product-discounted-price">₹ 12,00,000</span>
                <button class="btn" [routerLink]="['/avail']">Avail Loan</button>
            </div>
          </div>
        </div>
      </div>
      <div class="width-25">
        <div class="product-section">
          <div class="product-border">
            <div class="product-img-center">
              <a href="#">
                <img class="product-img" src="../assets/images/Hyundai/HyundaiExter.jfif">
              </a>
            </div>
            <div>
              <p class="product-name">
                <a href="#">Hyundai Exter</a>
              </p>
              <p class="product-price">
                <span class="product-discounted-price">₹ 9,90,000</span>
                <button class="btn" [routerLink]="['/avail']">Avail Loan</button>
            </div>
          </div>
        </div>
      </div>
      <div class="width-25">
        <div class="product-section">
          <div class="product-border">
            <div class="product-img-center">
              <a href="#">
                <img class="product-img" src="../assets/images/Hyundai/HyundaiVenue.jfif">
              </a>
            </div>
            <div>
              <p class="product-name">
                <a href="#">Hyundai Venue</a>
              </p>
              <p class="product-price">
                <span class="product-discounted-price">₹ 10,50,000</span>
                <button class="btn" [routerLink]="['/avail']">Avail Loan</button>
            </div>
          </div>
        </div>
      </div>

      <div class="width-25">
        <div class="product-section">
          <div class="product-border">
            <div class="product-img-center">
              <a href="#">
                <img class="product-img" src="../assets/images/Hyundai/HyundaiVerna.jfif">
              </a>
            </div>
            <div>
              <p class="product-name">
                <a href="#">Hyundai Verna</a>
              </p>
              <p class="product-price">
                <span class="product-discounted-price">₹ 10,50,000</span>
                <button class="btn" [routerLink]="['/avail']">Avail Loan</button>
            </div>
          </div>
        </div>
      </div>
<router-outlet></router-outlet>
