<body>
  <div class="alert alert-danger"  [hidden]="flag">{{ msg }}</div>
  <br><br><br><br>
    <form action="" (ngSubmit)="authenticate()" class="was-validated" #flog="ngForm">
        <h2><span class="entypo-login"><i class="fa fa-sign-in"></i></span>&nbsp;Car Way Login</h2>
        <button [routerLink]="['/userlist']" class="submit"[disabled]="!flog.valid" ><span class="entypo-lock"><i class="fa fa-lock"></i></span></button>
        <span class="entypo-user inputUserIcon">
           <i class="fa fa-user"></i>
         </span>
        <input type="text" class="user" placeholder="username" [(ngModel)]="cred.username" #uname="ngModel" class="form-control" required pattern="[A-Za-z]{4,}"/>
        <span class="entypo-key inputPassIcon">
           <i class="fa fa-key"></i>
         </span>
        <input type="password" class="pass"placeholder="password" [(ngModel)]="cred.password" #passwd="ngModel" class="form-control" required pattern="[A-Za-z0-9]{4,}"/>
      </form>
    </body>
  <script>
    
  $(".user").focusin(function(){
    $(".inputUserIcon").css("color", "#e74c3c");
  }).focusout(function(){
    $(".inputUserIcon").css("color", "white");
  });
  
  $(".pass").focusin(function(){
    $(".inputPassIcon").css("color", "#e74c3c");
  }).focusout(function(){
    $(".inputPassIcon").css("color", "white");
  });
  </script>