<marquee behavior="alternate" class="blink">Browse our New BMW Cars With Good Price</marquee>
<br>
<div class="width-100 margin-top-50">
    <div class="container">
      <div class="width-25">
        <div class="product-section">
          <div class="product-border">
            <div class="product-img-center">
              <a href="#">
                <img class="product-img" src="../assets/images/Bmw/bmwi7.jfif">
              </a>
            </div>
            <div>
              <p class="product-name">
                <a href="#">BMW i7</a>
              </p>
              <p class="product-price">
                <span class="product-discounted-price">₹ 12,00,000</span>
                <button class="btn" [routerLink]="['/avail']">Avail Loan</button>
            </div>
          </div>
        </div>
      </div>
      <div class="width-25">
        <div class="product-section">
          <div class="product-border">
            <div class="product-img-center">
              <a href="#">
                <img class="product-img" src="../assets/images/Bmw/bmwX7.jfif">
              </a>
            </div>
            <div>
              <p class="product-name">
                <a href="#">BMW X7</a>
              </p>
              <p class="product-price">
                <span class="product-discounted-price">₹ 9,90,000</span>
                <button class="btn" [routerLink]="['/avail']">Avail Loan</button>
            </div>
          </div>
        </div>
      </div>
      <div class="width-25">
        <div class="product-section">
          <div class="product-border">
            <div class="product-img-center">
              <a href="#">
                <img class="product-img" src="../assets/images/Bmw/bmwXm.jfif">
              </a>
            </div>
            <div>
              <p class="product-name">
                <a href="#">BMW XM</a>
              </p>
              <p class="product-price">
                <span class="product-discounted-price">₹ 10,50,000</span>
                <button class="btn" [routerLink]="['/avail']">Avail Loan</button>
            </div>
          </div>
        </div>
      </div>

      <div class="width-25">
        <div class="product-section">
          <div class="product-border">
            <div class="product-img-center">
              <a href="#">
                <img class="product-img" src="../assets/images/Bmw/bmwZ4.jfif">
              </a>
            </div>
            <div>
              <p class="product-name">
                <a href="#">BMW Z4</a>
              </p>
              <p class="product-price">
                <span class="product-discounted-price">₹ 10,50,000</span>
                <button class="btn" [routerLink]="['/avail']">Avail Loan</button>
            </div>
          </div>
        </div>
      </div>
<router-outlet></router-outlet>