<style>
  @import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&display=swap');
</style>
<marquee behavior="alternate" class="blink">View our New Cars at Reasonable Prices.</marquee>
<br>
<div class="row">
    <div class="column">
        <img src="../assets/images/brand logo/audi.png" alt="audi">
      <div class="card" [routerLink]="['/newaudi']">AUDI</div>
    </div> 

    <div class="column">
        <img src="../assets/images/brand logo/bmw.jfif" alt="bmw">
      <div class="card" [routerLink]="['/newbmw']">BMW</div>
    </div>

    <div class="column">
        <img src="../assets/images/brand logo/ford.jfif" alt="ford">
      <div class="card" [routerLink]="['/newford']">FORD</div>
    </div>

    <div class="column">
        <img src="../assets/images/brand logo/hyundai.png" alt="hyundai">
      <div class="card" [routerLink]="['/newhyundai']">HYUNDAI</div>
    </div> 
</div>

<router-outlet></router-outlet>