<body (ngSubmit)="authenticate()">
  <div class="container">
    <form action="/action_page.php" (ngSubmit)="authenticate()" class="was-validated" #flog="ngForm">
    <div class="row">
      <div class="col-25">
        <label for="name">Name</label>
      </div>
      <div class="col-75">
        <input type="text" id="name" name="name" placeholder="Your name..">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="principal">Principal Loan Amount</label>
      </div>
      <div class="col-75">
        <input type="number" id="principal" name="principal" [(ngModel)]="principalLoanAmount" required>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="interestRate">Annual Interest Rate (%)</label>
      </div>
      <div class="col-75">
        <input type="number" id="interestRate" name="interestRate" [(ngModel)]="annualInterestRate" required>
      </div>
    </div>

    <div class="row">
      <div class="col-25">
        <label for="loanTerm">Loan Term (Years)</label>
      </div>
      <div class="col-75">
        <input type="number" id="loanTerm" name="loanTerm" [(ngModel)]="loanTermInYears"  required (change)="calculateEMI()">
      </div>
    </div> 
    
    <div class="row">
      <div class="col-25">
        <label for="emi">EMI</label>
      </div>
      <div class="col-75">
        <h2 type="number">₹ {{ avail.emi.toFixed(2) }} per month</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="income">Monthly Income</label>
      </div>
      <div class="col-75">
        <input type="number" id="income" name="income" placeholder="Your income.." [(ngModel)]="avail.income" (change)="check()">
      </div>
    </div>

    <div [hidden]="flag"><h3>You're not eligible to avail loan as your income is low.<br>
      We would suggest you to check</h3>&nbsp;
      <a [routerLink]="['/ownedcar']">Pre-Owned cars</a>
    </div>

    <div [hidden]="!flag">
    <div class="row">
      <div class="col-25">
        <label for="name">Adhaar Number</label>
      </div>
      <div class="col-75">
        <input type="text" id="name" name="name" placeholder="Your adhaar number..">
      </div>
    </div>

    
    <div class="row">
      <div class="col-25">
        <label for="pan">Pan Number</label>
      </div>
      <div class="col-75">
        <input type="text" id="pan" name="pan" placeholder="Your pan number..">
      </div>
    </div>
  
    <br>
    <div class="row">
      <input type="submit" value="Submit" [disabled]="!flog.valid">
    </div>
  </div>
    </form>
  </div>