<marquee behavior="alternate" class="blink">Browse our Pre-Owned Cars With Good Price Range</marquee>
<br><div class="width-100 margin-top-50">
    <div class="container">
      <div class="width-25">
        <div class="product-section">
          <div class="product-border">
            <div class="product-img-center">
              <a href="#">
                <img class="product-img" src="../assets/images/used/Alto.png">
              </a>
            </div>
            <div>
              <p class="product-name">
                <a href="#">Alto</a>
              </p>
              <p class="product-price">
                <span class="product-discounted-price">₹ 4,00,000</span>
                <button class="btn" [routerLink]="['/avail']">Avail</button>
            </div>
          </div>
        </div>
      </div>
      <div class="width-25">
        <div class="product-section">
          <div class="product-border">
            <div class="product-img-center">
              <a href="#">
                <img class="product-img" src="../assets/images/used/calerio.png">
              </a>
            </div>
            <div>
              <p class="product-name">
                <a href="#">Celerio</a>
              </p>
              <p class="product-price">
                <span class="product-discounted-price">₹ 5,30,000</span>
                <button class="btn" [routerLink]="['/avail']">Avail</button>
            </div>
          </div>
        </div>
      </div>
      <div class="width-25">
        <div class="product-section">
          <div class="product-border">
            <div class="product-img-center">
              <a href="#">
                <img class="product-img" src="../assets/images/used/swift.png">
              </a>
            </div>
            <div>
              <p class="product-name">
                <a href="#">Swift</a>
              </p>
              <p class="product-price">
                <span class="product-discounted-price">₹ 6,50,000</span>
                <button class="btn" [routerLink]="['/avail']">Avail</button>
            </div>
          </div>
        </div>
      </div>
<router-outlet></router-outlet>