<marquee behavior="alternate" class="blink">Browse our New Cars With Good Price</marquee>
<br>
<div class="width-100 margin-top-50">
    <div class="container">
      <div class="width-25">
        <div class="product-section">
          <div class="product-border">
            <div class="product-img-center">
              <a href="#">
                <img class="product-img" src="../assets/images/Brezza_side_img.png">
              </a>
            </div>
            <div>
              <p class="product-name">
                <a href="#">Maruti Brezza</a>
              </p>
              <p class="product-price">
                <span class="product-discounted-price">₹ 12,00,000</span>
                <button class="btn" [routerLink]="['/avail']">Avail</button>
            </div>
          </div>
        </div>
      </div>
      <div class="width-25">
        <div class="product-section">
          <div class="product-border">
            <div class="product-img-center">
              <a href="#">
                <img class="product-img" src="../assets/images/ciaz.png">
              </a>
            </div>
            <div>
              <p class="product-name">
                <a href="#">Maruti Ciaz Delta</a>
              </p>
              <p class="product-price">
                <span class="product-discounted-price">₹ 9,90,000</span>
                <button class="btn" [routerLink]="['/avail']">Avail</button>
            </div>
          </div>
        </div>
      </div>
      <div class="width-25">
        <div class="product-section">
          <div class="product-border">
            <div class="product-img-center">
              <a href="#">
                <img class="product-img" src="../assets/images/maruti ertiga_2.png">
              </a>
            </div>
            <div>
              <p class="product-name">
                <a href="#">Maruti Ertiga</a>
              </p>
              <p class="product-price">
                <span class="product-discounted-price">₹ 10,50,000</span>
                <button class="btn" [routerLink]="['/avail']">Avail</button>
            </div>
          </div>
        </div>
      </div>
<router-outlet></router-outlet>