<body>
  <!-- crousel section -->
<div class="content-slider">
  <div class="slider">
    <div class="mask">
      <ul>
        <li class="anim1">
          <div class="quote">Carway giving wheels to your whishes</div>
        </li>
        <li class="anim2">
          <div class="quote">No piles of paper work, only smiles of joy</div>
        </li>
        <li class="anim3">
          <div class="quote">Right prices right values</div>
        </li>
        <li class="anim4">
          <div class="quote">Go your way with Car-Way</div>
        </li>
      </ul>
    </div>
  </div>
</div>

<!-- logo section ends -->
    <div class="hero_area">
      <!-- header section strats -->
      <header class="header_section">
        <div class="container-fluid">
          <nav class="navbar navbar-expand-lg custom_nav-container">
            <a class="navbar-brand">
              <span class="span">
                <img src="../assets/images/logo-main.png" height="200" >
              </span>
              <!-- <span style="margin-left: 790px;">Login
              </span> -->
            </a>
  
            <div class="navbar-collapse" id="">
            </div>
          </nav>
        </div>
      </header>
      <!-- end header section -->
    </div>
    <!-- logo section ends -->
    <!-- car section -->
    <section class="car_section layout_padding2-top layout_padding-bottom">
      <div class="container"><br><br><br><br><br><br><br>
        <div class="car_container">
          <div class="box">
            <div class="detail-box">
              <h5>
                <img [routerLink]="['/newcar']" src="../assets/images/maruti ertiga_2.png" height="100" width="150">              
              </h5>
              <p>Explore our range of new cars </p> 
              <!-- <a  [routerLink]="['/newcar']">Avail</a> -->
            </div>
          </div>
          <div class="box">
            <div class="detail-box">
              <h5>
                <img [routerLink]="['/ownedcar']" src="../assets/images/used/swift used.jpg" height="100" width="150">
              </h5>
              <p>Old or pre-owned cars</p>
              <!-- <a [routerLink]="['/ownedcar']">Pre-Owned Car</a> -->
            </div>
          </div>
          <div class="box">
            <div class="detail-box">
              <h5>
                <img [routerLink]="['/emi']" src="https://img.freepik.com/free-vector/indian-rupee-money-bag_23-2148019023.jpg?w=740&t=st=1690610880~exp=1690611480~hmac=f0219e554c7d08e80e891260537646dbf6092f6602ba2112bbb7f9d0ac73fd7d" height="100" width="100">
              </h5>
              <p>Get a sample of our backend calculations</p>
              <!-- <a [routerLink]="['/emi']">EMI</a> -->
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- end car section -->
    <!-- crousel section -->
    
    
    <!-- ends crousel section -->
    <!-- feedback section -->
    <div class="main-content">
        <h1>HAPPY CLIENTS</h1>
        <br>
        <h1>We are explain who is using our business solutions</h1>
      <div class="section">
       <div class="panel-1">
        <p>It's always a pleasure to work with CarWay's team. They are personable, responsive, and results-oriented!</p>
      <p>⭐⭐⭐⭐⭐</p>
      </div>
        <div class="panel-2">         
          <p>CarWay team is attentive, personable, and professional.</p>
          <p>⭐⭐⭐⭐</p>
        </div>
      </div><!--End .fisrt-section-->
      
      <!---------------------------------------------------------------------------------------------->
     
      <div class="section">
       <div class="panel-1">
        <p>Always available to answer any questions. Very knowledgeable about the services they provide. Would recommend to anyone!</p>
        <p>⭐⭐⭐⭐</p>
  
      </div>
       
         <div class="panel-2">
          <p>I really like the way these people help with loans. Will recommend them to everyone.</p>
            <p>⭐⭐⭐⭐⭐</p>

         </div>
        
      </div>
      </div><!--End .main-content-->

    <!-- end feedback section-->

    <!-- contact section -->
  <div class="background">
    <div class="container">
      <div class="screen">
        <div class="screen-body">
          <div class="screen-body-item left">
            <div class="app-title">
              <span>CONTACT US</span>
            </div>
            <div class="app-contact">CONTACT INFO : carway@info.co</div>
          </div>
          <div class="screen-body-item">
            <div class="app-form">
              <div class="app-form-group">
                <input class="app-form-control" placeholder="NAME">
              </div>
              <div class="app-form-group">
                <input class="app-form-control" placeholder="EMAIL">
              </div>
              <div class="app-form-group">
                <input class="app-form-control" placeholder="CONTACT NO">
              </div>
              <div class="app-form-group message">
                <input class="app-form-control" placeholder="MESSAGE">
              </div>
              <div class="app-form-group buttons">
                <button class="app-form-button">SEND</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  


    <!-- footer section -->
    <footer class="container-fluid footer_section">
      <p>
         &copy; 2023 | Made with 🤍 by Reebooters    
      </p>
    </footer>
  </body>